body {
  background-color: deepskyblue !important;
  text-align: center !;
}
#imgTrophy {
  text-align: center;
}
img {
  width: 200px;
  height: 200px;
  border: 4px solid red;
  border-radius: 100px;
  justify-items: center;
}

h1,
h2 {
  text-align: center;
  color: maroon;
  text-shadow: black 1px 1px 2px; /*color, x-position, y-position, blur */
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  text-align: center;
  font-weight: 300;
  font-family: "Jet Brains";
}
#p-network {
  color: orange;
  font-weight: 50;
  font-size: 70px;
}
.learnList {
  background-color: black !important;
  color: aliceblue;
  font-family: "Fira Code";
}
